<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taxistas On SM</title>
</head>
<body>
<h1>Bem-vindo ao Taxistas On SM</h2>
<h3>Links:</h3>
<p><a href="{% url 'taxistas' %}">Contato Taxistas</a></p>
<p><a href="{% url 'criar_taxista' %}">Cadastro Taxista</a></p>
<br />
<br />
<h3>PARTE SIMULADA</h3>
<p><a href="{% url 'login' %}">Login Taxista</a></p>
<p><a href="{% url 'investimentos' %}">Investimentos&nbsp;&nbsp;&nbsp;(por meio de login)</a></p>
<p><a href="{% url 'corridas' %}">Corridas&nbsp;&nbsp;&nbsp;(por meio de login)</a></p>
<p><a href="{% url 'lucro' %}">Infomacoes de lucro&nbsp;&nbsp;&nbsp;(por meio de login)</a></p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p><center>TaxistasONSM Corporation @ 2016</center></p>
</body>
</html>