<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taxista {{ taxista.nome }}</title>
</head>
<body>
<h1>Informacoes do Taxista (essa template nao vai ser mais utilizada)</h1>
<p>Nome: {{ taxista.nome }}</p>
<p>Data de Nascimento: {{ taxista.data_nascimento }}</p>
<p>Endereco: {{ taxista.endereco }}</p>
<p>RG: {{ taxista.rg }}</p>
<p>CPF: {{ taxista.cpf }}</p>
<p>Placa: {{ taxista.placa_carro }}</p>
<p>Numero de Serie: {{ taxista.num_serie }}</p>
<h2>Listas de Corridas do {{ taxista.nome }}</h2>
<p>falta implementar aqui</p>
</body>
</html>